*{
margin: 0%;
font-family: Arial;
border: border_box;
padding: 0%;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav_logo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url("amazon1.png");
    background-size: cover;
    height: 50px;
    width: 100%;
    align-items: center;
}

.border{
    border: 1.5px solid transparent;
    border-spacing: 100%;
}
.border:hover{
    border: 1.5px solid white;

}
.text1{
    font-size: 0.8em;
    margin-left: 15px;
}

.text2{
    font-size: o.8rem;
    margin-left: 5px;
}

.icon{
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.search_bar{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    width: 799px;
    height: 40px;
}

.search_option{
    background-color: #f3f3f3;
    width: 50px;
    padding-left: 5px;
    align-items: center;
}

.search_input{
    width: 100%;
    font-size: 1rem;
    border:none;
}

.search_icon{
    align-items: center;
    width: 45px;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    background-color: #febd68;
    color: #0f1111;
}

.text_1{
    font-size: 0.8rem;
    align-items: center;
}

.text_2{
    font-size: 0.9rem;
    align-items: center;
}

.cart_logo{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.cart{
    font-size: 0.8rem;
    margin-top: 20px;
}

.penal_bar{
    height: 40px;
    background-color: rgb(35, 38, 57);
    color: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.penal_bar a{
    text-decoration: none;
}

.link1 ,.link2,.link3
{
    color: #f3f3f3;
    margin-left: 15px;
}


.link4{
    color: #f3f3f3;
    text-align: end;
    margin-left: 16%;
}
.hero{
    background-image: url("hero1.png");
    height: 200px;
    text-align: center;
    background-size: cover;
}

.shop{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.box{
    border: 2px solid black;
    height: 350px;
    width: 290px;
    justify-content: space-evenly;
    margin-top: 20px;
    background-color: white;
  }

  .box p{
  font-size: 1.4rem;
  text-align: center;
  font-weight: 700;
  }
 
  .photos{
    justify-content: space-evenly;
    display: flex;
  }
.image1{
    height: 100px;
    width: 100px;
    background-image: url("image1.png");
    background-size: cover;
    display: flex;
    margin-top: 18px;
}


.image2{
    height: 100px;
    width: 100px;
    background-size: cover;
    background-image: url("image2.png");
    margin-top: 18px;
}


.tage{
    height: 20px;
    width: 260px;
    display: flex;
    justify-content: space-around;
    align-items: center;
   margin-left: 10px;
   font-size: 0.9rem;
   margin-top: 5px;
}

.photos2{
    justify-content: space-evenly;
    display: flex;
}

.image3{
    height: 100px;
    width: 100px;
    background-size: cover;
    background-image: url("image3.png");
    margin-top: 18px;
    background-position: center;
}

.image4{
    height: 100px;
    width: 100px;
    background-size: cover;
    background-image: url("image4.png");
    margin-top: 18px;
    background-position: center;
}
.image5{
    height: 100px;
    width: 100px;
    background-size: cover;
    background-image: url("image5.png");
    margin-top: 18px;
    background-position: center;
}

.image6{
    height: 100px;
    width: 100px;
    background-size: cover;
    background-image: url("image6.png");
    margin-top: 18px;
    background-position: center;
}


.image7{
    height: 100px;
    width: 100px;
    background-size: cover;
    background-image: url("image7.png");
    margin-top: 18px;
    background-position: center;
}

.image8{
    height: 100px;
    width: 100px;
    background-size: cover;
    background-image: url("image8.png");
    margin-top: 18px;
    background-position: center;
}

.image9{
    height: 100px;
    width: 100px;
    background-size: cover;
    background-image: url("image9.png");
    margin-top: 18px;
    background-position: center;
}

.image10{
    height: 100px;
    width: 100px;
    background-size: cover;
    background-image: url("image10.png");
    margin-top: 18px;
    background-position: center;
}

  
.image11{
    height: 100px;
    width: 100px;
    background-size: cover;
    background-image: url("image11.png");
    margin-top: 18px;
    background-position: center;
}

.image12{
    height: 100px;
    width: 100px;
    background-size: cover;
    background-image: url("image12.png");
    margin-top: 18px;
    background-position: center;
}

.image13{
    height: 100px;
    width: 100px;
    background-size: cover;
    background-image: url("image13.png");
    margin-top: 18px;
    background-position: center;
}

.image14{
    height: 100px;
    width: 100px;
    background-size: cover;
    background-image: url("image14.png");
    margin-top: 18px;
    background-position: center;
}

.image15{
    height: 100px;
    width: 100px;
    background-size: cover;
    background-image: url("image15.png");
    margin-top: 18px;
    background-position: center;
}

.image16{
    height: 100px;
    width: 100px;
    background-size: cover;
    background-image: url("image16.png");
    margin-top: 18px;
    background-position: center;
}
.image17{
    height: 250px;
    width: 240px;
    background-size: cover;
    background-image: url("image17.png");
    margin-top: 18px;
    background-position: center;
}

.image18{
    height: 250px;
    width: 240px;
    background-image: url("image18.png");
    margin-top: 18px;
    background-size: cover;
    background-position: center;
}

.banner{
    height: 310px;
    margin-top: 20px;
    border: 2px solid black;
    margin-right: 20px;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.shoping{
    height: 250px;
    background-image: url("image19.png");
    background-size: cover;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}
.today{
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.image20{
    height: 100px;
    width: 100px;
    background-size: cover;
    background-image: url("image20.png");
    margin-top: 18px;
    background-position: center;
}

.image21{
    height: 100px;
    width: 100px;
    background-size: cover;
    background-image: url("image21.png");
    margin-top: 18px;
    background-position: center;
}

.image22{
    height: 100px;
    width: 100px;
    background-size: cover;
    background-image: url("image22.png");
    margin-top: 18px;
    background-position: center;
}
.image23{
    height: 100px;
    width: 100px;
    background-image: url("image23.png");
    margin-top: 18px;
    background-size: cover;
    background-position: center;
}

.image24{
    height: 100px;
    width: 100px;
    background-size: cover;
    background-image: url("image24.png");
    margin-top: 18px;
    background-position: center;
}

.image25{
    height: 100px;
    width: 100px;
    background-size: cover;
    background-image: url("image25.png");
    margin-top: 18px;
    background-position: center;
}

.image26{
    height: 100px;
    width: 100px;
    background-size: cover;
    background-image: url("image26.png");
    margin-top: 18px;
    background-position: center;
}

.image27{
    height: 100px;
    width: 100px;
    background-image: url("image27.png");
    margin-top: 18px;
    background-size: cover;
    background-position: center;
}

.image28{
    height: 240px;
    width: 240px;
    background-image: url("image28.png");
    margin-top: 18px;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.image29{
    height: 250px;
    width: 240px;
    background-image: url("image29.png");
    margin-top: 18px;
    background-size: cover;
    background-position: center;
}
.image30{
    height: 100px;
    width: 100px;
    background-size: cover;
    background-image: url("image30.png");
    margin-top: 18px;
    background-position: center;
}

.image31{
    height: 100px;
    width: 100px;
    background-size: cover;
    background-image: url("image31.png");
    margin-top: 18px;
    background-position: center;
}
.image32{
    height: 100px;
    width: 100px;
    background-size: cover;
    background-image: url("image32.png");
    margin-top: 18px;
    background-position: center;
}

.image33{
    height: 100px;
    width: 100px;
    background-image: url("image33.png");
    margin-top: 18px;
    background-size: cover;
    background-position: center;
}

.image34{
    height: 100px;
    width: 100px;
    background-size: cover;
    background-image: url("image34.png");
    margin-top: 18px;
    background-position: center;
}

.image35{
    height: 100px;
    width: 100px;
    background-size: cover;
    background-image: url("image35.png");
    margin-top: 18px;
    background-position: center;
}

.image36{
    height: 100px;
    width: 100px;
    background-size: cover;
    background-image: url("image36.png");
    margin-top: 18px;
    background-position: center;
}
.image37{
    height: 100px;
    width: 100px;
    background-image: url("image37.png");
    margin-top: 18px;
    background-size: cover;
    background-position: center;
}

.phone_banner{
    height: 400px;
    margin-right: 20px;
    border: 2px solid black;
    margin-left: 20px;
    margin-top: 20px;
    background-color: white;
}

.coust{
    font-weight: 800;
    font-size: x-large;
    margin-left: 20px;
    margin-top: 10px;
}

.contaner
{
    height: 317px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    background-color: white;
}

.boxes{
    height: 180px;
    margin-top: 20px;
}
.boxes img{
    height: 180px;
    width: 140px;
}

.rs{
    color: black;
    margin-top: 3px;
    font-size:small;
    font-weight: 800;
}

body{
    background-color:rgb(218, 224, 224);
}
.last{
    height: 30px;
    color: #f3f3f3;
    justify-content: center;
    margin-top: 20px;
    background-color:#3a4c63;
    align-items: center;
    display: flex;
    padding: 10px;
}
.footer{
    height: 300px;
    background-color: #232F3e;
    justify-content: space-evenly;
    color: white;
    display: flex;
}

.wrap{
    background-color: #232F3e;
    height: 270px;
    width: 240px;
    text-align: center;
    margin-top: 30px;
    font-size: larger;

}

.wrap a{
    display: block;
    margin-top: 9px;
    font-size: 17px;
    color:white;
    text-decoration: none;
}


.wrap p{
    font-size: 20px;
    font-weight: 800;
}

.footer_last{
    height: 60px;
    background-color: #3a4c63;
    display: flex;
    justify-content: center;
}
.log_last{
    background-image: url("amazon1.png");
    height: 50px;
    width: 100px;
    background-size: cover;
    align-items: center;
    margin-top: 12px;
}

.country{
    height: 50px;
    width: 1440px;
    background-color: #3a4c63;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rohtash {
    height: 40px;
    width: 900px;
    background-color:#3a4c63;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.rohtash p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
}
.condition{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#3a4c63;
    width: 1440px;
}

  